<launch>

  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find turtlebot_custom)/launch/lidar.launch"/>
  <include file="$(find turtlebot_custom)/launch/gmapping_lidar.launch"/>
  <include file="$(find turtlebot_custom)/launch/rviz.launch"/>

  <node pkg="emergency_stop" name="main" output="screen" type="main.py"/>

</launch>